@font-face {
    font-family: 'Vladimir';
    src: url('../fonts/Vladimir-Regular.TTF');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

h1, h2 {
    font-family: 'Vladimir', serif;
}

h1, h2 , h3 , h4 , h5{
    overflow: hidden;
}

h1 {
    font-size: 150px;
}

h2{
    color: #cb4390;
    font-size: 76px;
}

p {
    font-family: 'Open Sans';
    font-weight: bold;
}

.table{
    background:#fff;
}

.table tbody tr:hover > td, .table tbody tr:hover > th{
    background:#c395af6e !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #e5a2c73b;
 }

 #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e5a2c7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

 /* ----  login ----  */

 .login-div {
    position: relative;
    width: 430px;
    margin-top: 10%;
    left: 50%;
    padding: 30px 35px 55px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    transform: translateX(-50%);
}

.login-div .logo{
    text-align: center;
}

.login-div .logo p{
    font-size: 20px;
    color:#e5a2c7;
}

.login-div .fields {
    width: 100%;
    padding: 15px 5px 5px 5px;
}

.login-div .fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #777;
    padding: 20px 50px 20px 5px;
    width: 100%;
}

.login-div .username,
.login-div .password,
.login-div .email {
    color: #e5a2c7;
    padding-left: 25px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.login-div input:-webkit-autofill,
.login-div input:-webkit-autofill:hover,
.login-div input:-webkit-autofill:focus,
.login-div input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.login-div .signin-button {
    outline: none;
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #fff;
    text-align: center;
    background: #cb4390;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
}

.login-div .signin-button:hover {
    background: #e5a2c7;
}

.login-div .signin-button:active {
    background: #cb4390;
}

.login-div .link {
    padding-top: 20px;
    text-align: center;
}

.login-div .link a {
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}

.login-div .alert {
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    top: 20px;
    margin: 0;
}

/* -- SCROLLBAR -- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cb4390;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #e5a2c7;
}

/* -- SELEKTOVANJE -- */

::-moz-selection {
    /* Za Firefox */
    color: #fff;
    background: #cb4390;
}

::selection {
    color: #fff;
    background: #cb4390;
}

/* -- NAVIGACIJA -- */

.navigacija {
    display: flex;
    font-family: 'Open Sans';
}

.navigacija .sidebar {
    width: 20%;
    height: 100%;
    padding: 30px 0px;
    position: fixed;
    overflow: hidden;
    box-shadow: 5px 0px 10px #00000026;
    z-index: 10;
}

.navigacija .sidebar .logo {
    text-align: center;
}

.navigacija .sidebar .logo h1 {
    font-size: 50px;
    color: #cb4390;
    margin-bottom: 0;
}

.navigacija .sidebar .logo p {
    font-weight: 400;
    color: #e5a2c7;
    margin-bottom: 10%;
    font-style: italic;
}

.navigacija .sidebar ul li {
    font-weight: 700;
    position: relative;
    padding: 5%;
    transition: .5s;
    overflow: hidden;
}

.navigacija .sidebar ul li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #cb4390;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: .5s;
    z-index: 1;
}

.navigacija .sidebar ul li:hover:after {
    transform: translateX(0%);
}

.navigacija .sidebar ul li a {
    position: relative;
    text-transform: uppercase;
    color: #cb4390;
    display: block;
    font-size: 18px;
    margin-left: 20%;
    transition: .5s;
    z-index: 2;
}

.navigacija .sidebar ul li:hover a {
    color: #fff;
    text-decoration: none;
}

.navigacija .sidebar ul .active-nav {
    background-color: #cb4390;
}

.navigacija .sidebar ul .active-nav a {
    color: #fff!important;
}

.navigacija .sidebar .social_media, .socijalne-mreze .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.navigacija .sidebar .social_media a, .socijalne-mreze .social_media a {
    font-size: 25px;
    display: block;
    width: 50px;
    height: 50px;
    background: #cb4390;
    text-align: center;
    margin: 0 10px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10%;
    transition: .5s background-color;
}

.navigacija .sidebar .social_media a i, .socijalne-mreze .social_media a i {
    margin-top: 12px;
}

.navigacija .sidebar .social_media .face:hover, .socijalne-mreze .social_media .face:hover {
    background-color: #3b5998;
}

.navigacija .sidebar .social_media .insta:hover, .socijalne-mreze .social_media .insta:hover {
    background-color: #D44638;
}

.navigacija .sidebar .social_media .email:hover, .socijalne-mreze .social_media .email:hover {
    background-color: #CC7722;
}

.navigacija .sidebar .social_media .phone:hover, .socijalne-mreze .social_media .phone:hover {
    background-color: #006400;
}

@media (max-height: 800px) {
    .navigacija .sidebar .social_media {
        display: none !important;
    }
    .uvod {
        height: 200px !important;
    }
    .zakazite {
        height: 240px !important;
    }
    .socijalne-mreze {
        display: block !important;
    }
}

/* -- TELO SAJTA -- */

.telo {
    margin-left: 20%;
    width: 80%;
    height: 100%;
    background-color: #faf6f5;
    color: #777;
}

.telo p {
    font-weight: 400;
}

/* -- NASLOV -- */

.zaglavlje {
    position: relative;
    color: #fff;
    height: 100vh;
    width: 100%;
    background: url('../images/naslovna.jpg') center center no-repeat;
    background-size: cover;
}

.zaglavlje:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #cb4390;
    opacity: 0.4;
    z-index: 1;
}

.zaglavlje .naslov {
    position: absolute;
    padding-top: 10%;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    transform-style: preserve-3d;
}

.zaglavlje p {
    font-size: 30px;
    margin: 0 15%;
}

.zaglavlje .dugme {
    margin-top: 5%;
    background: white;
    color: #cb4390;
    font-size: 30px;
    font-style: italic;
    border-radius: 25px;
    padding-left: 6%;
    padding-right: 6%;
    transition: .5s;
}

.zaglavlje .dugme:hover {
    background: #cb4390;
    color: #fff;
}

/* -- TELO -- */

.uvod {
    height: 25vh;
    width: 100%;
    padding-top: 3%;
    text-align: center;
    overflow: hidden;
}

.uvod p {
    font-size: 20px;
}

/* -- USLUGE -- */

.usluge {
    position: relative;
    height: 100%;
    padding-top: 2%;
    background: #fff;
    text-align: center;
    overflow: hidden;
}

.usluge .vrsta-usluge {
    position: relative;
    height: 90%;
    width: 100%;
    bottom: 0;
    margin-left: 0px;
    margin-top: 2%;
    padding-right: 36px;
    padding-left: 36px;
}

.usluge .vrsta-usluge .block-feature-1 {
    background: #faf6f5;
    padding: 50px 50px 50px 50px;
    position: relative;
}

.usluge .vrsta-usluge .block-feature-1 h3 {
    color: #cb4390;
    font-size: 20px;
    overflow: hidden;
}

.usluge .vrsta-usluge .block-feature-1 .icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -40px;
    top: 50%;
    border: 5px solid #fff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    background: #e5a2c7;
}

/* -- ZAKAZITE -- */

.zakazite {
    position: relative;
    background: #e5a2c7;
    padding-top: 2%;
    height: 30vh;
    text-align: center;
}

.zakazite h2{
    color:#fff;
}

.zakazite .btn {
    position: relative;
    margin-top: .5%;
    font-size: 25px;
    color: #fff;
    border: 4px solid white;
    border-radius: 50px;
    padding: 10px 20%;
    overflow: hidden;
}

.zakazite .btn::after {
    content: 'Odvedi me na stranicu →';
    padding-top: 1.2%;
    color: #e5a2c7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateY(100%);
    transition: .5s;
}

.zakazite .btn:hover::after {
    transform: translateY(0);
}

/*-- AKCIJE --*/

.trenutne-akcije {
    position: relative;
    height: 100%;
    padding-top: 3%;
    background: #fff;
    text-align: center;
    overflow: hidden;
    padding-bottom: 20vh;
}

/*-- MAPA --*/

.mapa {
    height: 60vh;
    display: flex;
}

.mapa div {
    width: 50%;
    overflow: hidden;
}

.mapa .kontakt {
    position: relative;
    color: #fff;
    background: #e5a2c7;
    z-index: 0;
}

.mapa .kontakt h2 {
    color:#fff;
    margin-top: 10%;
    margin-left: 10%;
}

.mapa .kontakt .informacije p {
    z-index: 100;
    font-size: 17px;
}

.mapa .kontakt .informacije a {
    font-weight: bold;
    color: #cb4390;
}

.mapa .kontakt .informacije {
    z-index: 1000;
    margin-top: 10%;
    margin-left: 10%;
}

.mapa .kontakt .test {
    font-family: 'Vladimir';
    position: absolute;
    font-size: 300px;
    opacity: 0.2;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    pointer-events: none;
}

/*-- SOCIJALNE MREZE --*/

.socijalne-mreze {
    display: none;
    text-align: center;
    position: relative;
    height: 30vh;
    background: #fff;
}

.socijalne-mreze h2 {
    padding-top: 1%;
}

.socijalne-mreze p {
    color: #e5a2c7;
    font-size: 20px;
}

/*-- PODNOZJE --*/

.podnozje {
    height: 50px;
    text-align: center;
    overflow: hidden;
}

.podnozje p {
    text-align: center;
    margin-top: 12px;
}

/*-- KONTAKT - INFORMACIJE --*/

.kontakt-informacije {
    text-align: center;
    height: 100%;
}

 .kontakt-informacije h2 {
    padding-top: 2%;
} 


.kontakt-informacije .mreze{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

.kontakt-informacije .mreze h3{
    color:#cb4390;
}

.kontakt-informacije .mreze p{
    padding-top: 2%;
}

.kontakt-informacije .mreze p a{
    color:#cb4390;
}

.kontakt-mapa{
    height:50vh;
    overflow: hidden;
}

/*-- POSAO --*/

.posao{
    height: 100%;
    text-align: center;
}

.posao h2{
    padding-top: 2%;
}

.posao .poslovi{
    margin-top: 5%;
    display: flex;
    margin-bottom: 5%;
}

.posao .poslovi div{
    height: 100%;
    width: 50%;
}

.posao .poslovi h3{
    font-style: italic;
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 20%;
}

.posao .poslovi h2{
    margin-top:20%;
}

.posao .poslovi p{
    font-size: 25px;
}

.posao .poslovi a , .posalji-cv a{
    color:#cb4390;
    font-weight:bold;
}

.posao .poslovi .kozmetoterapeut{
    background:#fff;
    color:#e5a2c7;
}

.posao .poslovi .kozmetoterapeut h2{
    color: #e5a2c7;
}

.posao .poslovi .fizioterapeut{
    background:#e5a2c7;
    color: #fff;
}

.posao .poslovi .fizioterapeut h2{
    color: #fff;
}

.posalji-cv{
    height: 30vh;
    text-align: center;
}

.posalji-cv p{
    margin-top: 2%;
    font-size: 25px;
}


.cenovnik h2{
    text-align: center;
    margin-top: 2%;
}

.cenovnik h3{
    color:#cb4390;
    margin:3% 0;
}

.zakazivanje{
    text-align: center;
}

.zakazivanje h2{
    margin-top:2%;
}

.zakazivanje-informacije{
    text-align: center;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    margin-top:5%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 20px 15px #e5a2c73b;
}

.zakazivanje-informacije form .form-group{
    margin-left: auto;
    margin-right: auto;
}

.zakazivanje-informacije form{
    margin:2% 5%;
}

.zakazivanje-informacije form input, .zakazivanje-informacije form textarea{
    border:2px solid #c395af6e;
}

.zakazivanje-informacije form button{
    position: relative;
    border:2px solid #e5a2c7;
    font-size: 20px;
    background: #e5a2c7;
    color:#fff;
    padding:5px 30px;
    border-radius: 20px;
    transition: .5s;
}

.zakazivanje-informacije form button:hover{
    background:#fff;
    color:#e5a2c7;
}

.zakazivanje-informacije form .checks{
    margin-top:5%;
    margin-bottom: 5%;
    text-align: left;
}

.zakazivanje-informacije form .checks label:hover{
    color:#e5a2c7;
    cursor: pointer;
}

.zakazivanje-informacije form input:focus , .zakazivanje-informacije form textarea:focus{
    border:2px solid #e5a2c7;
    box-shadow: none!important;
}

.akcije{
    text-align: center;
    height: 60vh;
}

.akcije h2{
    padding-top: 2%;
}

.galerija-salon{
    text-align: center;
}

.galerija-salon h2{
    padding-top: 2%;
}

.gallery{
    text-align: center;
    margin:10px 5%;
    overflow: hidden;
}

.gallery img{
    position: relative;
    transition: .5s;
    padding:15px;
    width: 300px;
    overflow: hidden;
}

.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

.usluge-stranica{
    background: transparent;
}

.usluge-stranica .vrsta-usluge .block-feature-1{
    background:#fff;
}

.usluge .vrsta-usluge .block-feature-1 .icon{
    border:5px solid #faf6f5;
}


/* @media (max-width: 1500px) {
    .navigacija {
        display: none !important;
    }

    .telo{
        margin-left:0px;
    }
} */